<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  throwConfigExceptions="true">
	<!--internalLogFile="C:\Users\RB\Desktop\Measom_Projects\Microsoft Project\Files\Log\internallog.txt"-->
	<!--internalLogLevel="Trace"-->
	<targets>
		<target name="logfile" xsi:type="File"
				fileName="C:\Users\RB\Desktop\Measom_Projects\Microsoft Project\Files\Log\${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>
